.footerlink{
  color: white;
  font-size: 15px;
  margin-top: 10px;
}


.footerlink:hover {
  color: #9fffcb;
}

.where{
  color: #9fffcb;
  font-size: 20px;
}

.find{
  font-size: 20px;
}


