.footer {
  background-color: #b5b5bd;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.title {
  color: #fff;
}

.description {
  color: #fff;
}

.footerlink,
.footerlink:hover {
  color: #fff;
}

.where {
  color: black;
  font-weight: bolder;
}