.footerlink{
  color: white;
  font-size: 25px;
  margin-top: 10px;
}


.footerlink:hover {
  color: #9fffcb;
}

.where{
  color: #9fffcb;
  font-size: 40px;
}

.find{
  font-size: 25px;
}


